/* UI Elements STARTS 
    The UI Elements include wildcard(all), head, body and the global tags p, a , h*
    form, table, input... */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

/* UI Elements ENDS */


/* Card STARTS 
    Contains all the style for the card (main content) */
.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

/* Card ENDS */

/* Modal dialog STARTS 
    It contains the style that are specific to the modal dialog
    and its inputs */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  top: 5%;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal-header {
  padding: 2px 16px;
  background-color: #2b2e36;
  color: white;
}

/* Modal Body */
.modal-body {
  padding: 16px;
}

#char-count-slider {
  width: 100%;
  max-width: 430px;
  display: block;
}

#char-count-text {
  width: 20%;
  max-width: 105px;
}

#char-count-container label {
  width: 80%;
}

#password-settings {
  padding: 5%;
  list-style: none;
}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #2b2e36;
  color: white;
}

#password-generation-close {
  color: hsl(360, 91%, 36%);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#password-generation-close:hover,
#password-generation-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal dialog show animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 5%;
    opacity: 1;
  }
}

/* Modal dialog ENDS */

/* style for medium screen */
@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

/* style for small screen */
@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
